* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 5px solid black;
}

.navbar,
.navbar-mob {
  background-color: #f06595;
}

.navbar > a {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  padding: 10px 10px 10px 50px;
  float: left;
}

.navbar > ul {
  list-style: none;
  float: right;
}

.navbar-mob > ul {
  list-style: none;
}

.navbar > ul > li {
  display: inline-block;
  line-height: 60px;
  /*top-bottom right-left*/
  padding: 0px 20px;
}

.navbar-mob > ul > li {
  line-height: 30px;
  /*top-bottom right-left*/
  padding: 0px 20px;
}
.navbar > ul:last-child {
  padding-right: 100px;
}

.navbar > ul > li > a,
.navbar-mob > ul > li > a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.navbar > ul > li:hover,
.navbar-mob > ul > li:hover {
  background-color: grey;
}

.navbar::after {
  content: " ";
  display: block;
  clear: both;
  *zoom: 1;
}
.navbar-mob,
.hamburger-btn {
  display: none;
}

@media screen and (max-width: 700px) {
  .navbar-mob,
  .hamburger-btn {
    display: block;
  }

  #mob-menu {
    display: none;
  }

  .hamburger-btn > .fa-times {
    display: none;
  }
  .navbar > ul {
    display: none;
  }
  .fa-bars {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    font-size: 30px;
  }
  .fa-times {
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
    font-size: 30px;
  }
}
